<div class="wrapper">
    <div class="plant1 buttonview" >
        <p class="fixtext">Plant #1</p>  
    </div>
    <div class="plant2 buttonview" >
        <p class="fixtext">Plant #2</p>  
    </div>
    <div class="plant3 buttonview" >
        <p class="fixtext">Plant  #3</p>  
    </div>
    <div class="plant4 buttonview" >
        <p class="fixtext">Plant #4</p>  
    </div>
    <div class="notepad buttonview" >
        <p>NOTEPAD</p>  
    </div>
    <a routerLink="/" class="backbutton buttonview">
        <div >
            <p>BACK</p>
        </div>
    </a> 
</div>