<div class="wrapper">
    <a routerLink="/veg/plant1" class="plant1 buttonview">
        <div>
            <p class="fixtext">Plant #1</p>
        </div>
    </a>
    <a routerLink="veg/plant2" class="plant2 buttonview">
        <div>
            <p class="fixtext">Plant #2</p>
        </div>
    </a>
    <a routerLink="veg/plant3" class="plant3 buttonview">
        <div>
            <p class="fixtext">Plant #3</p>
        </div>
    </a>
    <a routerLink="veg/plant4" class="plant4 buttonview">
        <div>
            <p class="fixtext">Plant #4</p>
        </div>
    </a>

    <div class="notepad buttonview">
        <p>NOTEPAD</p>
    </div>

    <a routerLink="/veg" class="backbutton buttonview">
        <div>
            <p>BACK</p>
        </div>
    </a>
</div>