.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
  }
  .plant1{
   grid-column: 2 / 5;
    grid-row: 2 / 7;
}
.plant2{
  grid-column: 9 / 12;
  grid-row: 2 / 7;
}
.plant3{
    grid-column: 2 / 5;
     grid-row: 8 / -1;
 }
 .plant4{
   grid-column: 9 / 12;
   grid-row: 8 / -1;
 }
 .notepad{
    grid-column: 5 / 9;
    grid-row: 2 / -1;
 }
.backbutton{
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}
.fixtext{
  padding-top: 20%;
  font-size: x-large;
}
.buttonview{
border-style: solid;
border-color:black;
background-color: rgba($color: #17c200, $alpha: 1.0);
}