.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
  }
.cloner1{
   grid-column: 2 / 6;
    grid-row: 4/ 10;
}
.cloner2{
  grid-column: 8/ 12;
  grid-row: 4/ 10;
}
.backbutton{
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}
.fixtext{
  padding-top: 20%;
  font-size: x-large;
}
.clonerview{
border-style: solid;
border-color:black;
background-color: rgba($color: #17c200, $alpha: 1.0);
}