<div class="wrapper">
    <div class="FWeek1 color">
        <p> Zone </p>
    </div>
    <div class="FWeek2 color">
        <p> Zone </p>
    </div>
    <div class="FWeek3 color">
        <p> Zone </p>
    </div>
    <div class="FWeek4 color">
        <p> Zone </p>
    </div>
    <div class="FWeek5 color">
        <p> Zone </p>
    </div>
    <div class="FWeek6 color">
        <p> Zone </p>
    </div>
    <div class="FWeek7 color">
        <p> Zone </p>
    </div>
    <div class="FWeek8 color">
        <p> Zone </p>
    </div>
    <a routerLink="/" class="backbutton color">
        <div>
            <p>BACK</p>
        </div>
    </a>
</div>