<div class="wrapper">
   <!-- HOME
     <div class="header"><app-header></app-header></div>
    <div class="middleContainer1"><app-middle1></app-middle1></div>
    <div class="middleContainer2"><app-middle2></app-middle2></div>
    <div class="footer"><app-footer></app-footer></div>
     -->
     <!-- HOME
     <div class="header"><app-header></app-header></div>
    <div class="clone"><app-clone1></app-clone1></div>
    <div class="footer"><app-footer></app-footer></div>
 -->
  <!-- HOME
    <div class="header"><app-header></app-header></div>
    <div class="clone"><app-clone2></app-clone2></div>
    <div class="footer"><app-footer></app-footer></div>
  -->
    <div class="header"><app-header></app-header></div>
    <div class="clone"><app-veg2></app-veg2></div>
    <div class="footer"><app-footer></app-footer></div>
  </div>