.wrapper {
    display: grid;
   // border-style: solid;
    //border-color: red;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 99vh;
  }
  .header {
  //  border-style: solid;
   // border-color: blue;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
  
  }
  .middleContainer1 {
    border-style: solid;
    border-color: yellow;
    grid-column: 1 / -1;
    grid-row: 4 / 7;
  }
  .middleContainer2 {
    border-style: solid;
    border-color: violet;
    grid-column: 1 / -1;
    grid-row: 7 / 9;
  }
  .footer {
    //border-style: solid;
   // border-color: aqua;
    grid-column: 1 / -1;
    grid-row: 9 / -1;
  }
  