<div class="wrapper">
    <div class="VegWeek1 color"> <p class="text">Veg Week 9</p> </div>
    <div class="VegWeek2 color"> <p class="text">Veg Week 8</p> </div>
    <div class="VegWeek3 color"> <p class="text">Veg Week 7</p> </div>
    <div class="VegWeek4 color"> <p class="text">Veg Week 6</p> </div>
    <div class="VegWeek5 color"> <p class="text">Veg Week 5</p> </div>
    <div class="VegWeek6 color"> <p class="text">Veg Week 4</p> </div>
    <div class="VegWeek7 color"> <p class="text">Veg Week 3</p> </div>
    <div class="VegWeek8 color"> <p class="text">Veg Week 2</p> </div>
    <div class="VegWeek9 color"> <p class="text">Veg Week 1</p> </div>
</div>