.wrapper{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
}
.text{
    font-size: large;
    text-align: center;
}
.color{
    background-color: rgba($color: #17c200, $alpha: 1.0);
   
}
.VegWeek1{

grid-column: 6 / 16;
grid-row: 1 / 3;
}
.VegWeek2{

    grid-column: 6 / 16;
    grid-row: 3 / 5;
}
.VegWeek3{

    grid-column: 6 / 16;
    grid-row: 5 / 7;
}
.VegWeek4{
   
    grid-column: 6 / 16;
    grid-row: 7 / 9;
}
.VegWeek5{
 
    grid-column: 6 / 8;
    grid-row: 9 / 20;
}
.VegWeek6{
   
    grid-column: 8 / 10;
    grid-row: 9 / 20;
}
.VegWeek7{
    
    grid-column: 10 / 12;
    grid-row: 9 / 20;
}
.VegWeek8{
    
    grid-column: 12 / 14;
    grid-row: 9 / 20;
}
.VegWeek9{
  
    grid-column: 14 / 16;
    grid-row: 9 / 20;
}