<div class="wrapper">
   <a routerLink="/" class="back color"><div> <p class="text">Back</p> </div></a>
   <a routerLink="/veg/week1" class="VegWeek1 color"><div> <p class="text">Veg Week 1</p> </div></a>
   <a routerLink="/veg/week2" class="VegWeek2 color"><div> <p class="text">Veg Week 2</p> </div></a>
   <a routerLink="/veg/week3" class="VegWeek3 color"><div> <p class="text">Veg Week 3</p> </div></a>
   <a routerLink="/veg/week4" class="VegWeek4 color"><div> <p class="text">Veg Week 4</p> </div></a>
   <a routerLink="/veg/week5" class="VegWeek5 color"><div> <p class="text">Veg Week 5</p> </div></a>
   <a routerLink="/veg/week6" class="VegWeek6 color"><div> <p class="text">Veg Week 6</p> </div></a>
   <a routerLink="/veg/week7" class="VegWeek7 color"><div> <p class="text">Veg Week 7</p> </div></a>
   <a routerLink="/veg/week8" class="VegWeek8 color"><div> <p class="text">Veg Week 8</p> </div></a>
   <a routerLink="/veg/week9" class="VegWeek9 color"><div> <p class="text">Veg Week 9</p> </div></a>
</div>