/* You can add global styles to this file, and also import other style files */
$bg_1: grey;

body   {
    background-color: $bg_1;
    align-items: center;
    height: 98vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color: rgb(179, 255, 0);
  }
  
  a:active {
    text-decoration: underline;
    color: rgb(179, 255, 0);
  }