.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
  }
  .clone{
    grid-column: 2 / 4;
    grid-row: 4/ 10;
  }
  .veg{
    grid-column: 6/ 8;
    grid-row: 4/ 10;
  }
  .flower{
    grid-column: 10/ 12;
    grid-row: 4/ 10;
  }
  .buttoncolor{
    border-style: solid;
    border-color:black;
    background-color: rgba($color: #17c200, $alpha: 1.0);
  }