<div class="wrapper">
    <a routerLink="/clones" class="clone buttoncolor">
        <div >
            <p class="fixtext">Clones</p>
        </div>
    </a>
    <a routerLink="/veg" class="veg buttoncolor" >
        <div >
            <p class="fixtext">Veg</p>
        </div>
    </a>
    <a routerLink="/flower" class="flower buttoncolor">
        <div >
            <p class="fixtext">Flower</p>
        </div>
    </a>
    <a routerLink="/mothers" class="mothers buttoncolor">
        <div>
            <p class="fixtext">Mothers</p>
        </div>
    </a>
</div>