.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
  }
.notepad{
   grid-column: 2 / 12;
    grid-row: 2/ -1;
}
.backbutton{
    grid-column: 6 / 8;
    grid-row: 1 / 2;
  }
  .buttonview{
    border-style: solid;
    border-color:black;
    background-color: rgba($color: #17c200, $alpha: 1.0);
    }